---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">关于 sui</Fragment>
      <Fragment slot="desc">sui 致力于改进现阶段各应用杂乱无章的快捷键</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        每一个应用中都能使用相同或相似的带语义的快捷键
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        <a href="https://github.com/shortcutui/sui"> <b>sui</b> </a> 全称叫做 shortcutui, 是一个开源的快捷键应用规范, 希望可以在各个不同的软件中对相同或相似的功能使用同样的快捷键,
        降低键盘使用电脑的成本, suiwin 实现了 <a href="https://github.com/shortcutui/sui"> <b>sui</b> </a> 的其中一个窗口切换的规范, 通过一个窗口切换的前缀键,
        再加上各个不同窗口的名字, 就可以快速的切换不同的软件窗口.
        <br>
        在实践sui的过程中,  因为我没有在 Windows 平台上发现类似的功能, 所以我就自己实现了一套, 目前只有 Windows
          平台的实现, 如果你有其它平台的需求, 可以联系我咨询.
      </p>
    </div>
  </Container>
</Layout>
