---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">联系我</Fragment>
      <Fragment slot="desc">我很乐意帮您解决使用 suiwin 过程中的任何问题</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800"></h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          使用过程中遇到了疑问? 我很乐意帮助您, 填写右边表单或者给我发送邮件.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:soluty.lv@qq.com"
              >soluty.lv@qq.com</a
            >
          </div>

          <!-- <div class="flex items-center mt-2 space-x-2 text-gray-600"> -->
          <!--   <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a -->
          <!--     href="tel:18620385582">18620385582</a -->
          <!--   > -->
          <!-- </div> -->
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
