---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "基础版",
    price: "免费",
    popular: false,
    features: [
      "急速直达软件",
      "支持托盘区的软件",
      "支持进入软件中的某个窗口",
      "支持结合komorebi使用",
      "最多支持3个自定义快捷键",
      "更好的 alt+tab",
    ],
    button: {
      text: "免费下载",
      link: "/suiwin.zip",
    },
  },
  {
    name: "专业版",
    price: {
      monthly: "￥20",
      original: "￥48",
    },
    popular: true,
    features: [
      "所有免费的功能",
      "支持无限个快捷键命令行调用",
      "支持命令行调用",
      "预定义的软件模版",
      "无订阅提示",
    ],
    button: {
      text: "支持一下",
      link: "#",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">价格</Fragment>
      <Fragment slot="desc">
        如无特殊需求, 免费版可以使用软件几乎全部功能
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
