---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "急速直达软件",
    description:
      "急速直达, 按下ctrl+w q直接到达你的男/女神的聊天窗口, 按下ctrl+w v直接到达你最常用的网站.",
    icon: "bx:bxs-bot",
  },
  {
    title: "支持托盘区的软件",
    description:
      "即使是迅雷, 微信, everything 等常年在托盘区的软件, 也可以急速直达",
    icon: "bx:bxs-bot",
  },
  {
    title: "支持进入软件中的某个窗口",
    description:
      "直达软件还不够? 还可以额外发送一个快捷键直达软件的某个窗口",
    icon: "bx:bxs-bot",
  },
  {
    title: "支持自定义快捷键",
    description:
      "如果希望默认的ctrl+w关闭窗口, 你可以设置成任意你想要的快捷键前缀",
    icon: "bx:bxs-bot",
  },
  {
    title: "alt+tab的更好替代",
    description:
      "(ctrl+w .) 是更好的 alt+tab , 解放你的双手, (ctrl+w ,) 相当于 alt+tab",
    icon: "bx:bxs-bot",
  },
  {
    title: "支持命令行调用",
    description:
      "只能定义26个软件的直达? 不, 可以通过命令行调用, 配合上你自己的按键映射工具, 任意窗口可直达",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    软件切换, 快如闪电
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    给你常用的软件一个自己能记忆的名字, 然后你就随时可以找到它.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
